{% extends "backend/layout.twig" %}

{% block content %}
  <h1>{{ app['gallery.objects'][app.request.get('objectType')]['tag.classes'][category]['label'] }}</h1>
  <ul id="object-list">
    {% for tag in tags %}
      <li>
          {{ tag.name }}
          <form method="post" style="display: inline">
            <input type="hidden" name="delete" value="{{tag.id}}">
            <input type="submit" value="x" style="border: none">
          </form>
          <!--
          <form method="post" style="display: inline">
            <input type="text" value="{{tag.name}}" name="tag">
            <input type="submit" value="x" style="border: none">
          </form>
          -->
      </li>
    {% endfor %}
  </ul>
  <br>
  <h2>Ajouter un tag dans cette catégorie</h2>
  <form method="post">
    Tag <input type="text" name="tag">
    <input class="btn" type="submit">
  </form>
  <div style="clear:both"></div>
  
{% endblock %}