{% extends "backend/layout.twig" %}

{% block menu %}{% endblock %}
{% block content %}
    <div id="login-bkg" class="back-color">
      <div id="login-content">
        <img src="images/gallery/identity.png" />
        <form id="login-form" method="post">
          <input type="text" name="login" id="login" value="LOGIN"><br>
          <input type="password" name="password" id="password" value="PASSWORD" autocomplete="off"><br>
          <input type="submit" class="btn" value="LOGIN">
        </form>
        {% if (badCredentials is defined and badCredentials) %}
          <p class="selected center">
            Wrong login or password
          </p>
        {% endif %}
      </div>
    </div>
{% endblock %}